{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="header">
      <div><img src="{{ SITEURL }}/images/blaze.png"></div>
      <h2 class="title">{{ TITLE }}</h2>
      <h4 class="subtitle">{{ SUBTITLE }}</h4>
    </section>


    <section class="home-section">
        <div class="row">
            <p>The Blaze ecosystem is a set of libraries that help users store, describe,
            query and process data. It is composed of the following projects:</p>
        </div>

        <div class="row">
          <ul>
          {% for page in pages %}
              {% if page.title == 'Projects' %}
                  {% for children_page in page.children %}
                      <li class="talk-header"><a href="{{ SITEURL }}/{{ children_page.url }}">{{ children_page.title }}</a>: {{children_page.subtitle}}</li>
                  {% endfor %}
              {% endif %}
          {% endfor %}
          </ul>
        </div>
    </section>

    {% if articles %}
    <section class="home-section">
        <h3 class="home-header">Recent blog posts</h3>
        <div>
            {% for article in (articles_page.object_list if articles_page else articles) %}
            <div class="home-post">
                <p class="blogpost-date" style="float:right">{{article.locale_date}}</p>
                <h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                <p>{{ article.summary }}</p>
            </div>
            {% endfor %}
            <div class="row">
                <a class="button button-primary button-more" href="{{ SITEURL }}/archives">More...</a>
            </div>
        </div>
    </section>
    {% endif %}

    <br>

     <section class="home-section">
        <h2 class="home-header">Talks and Tutorials</h2>
            <div class="row">
              {% for page in pages %}
                  {% if page.title == 'Talks' %}
                      {% for children_page in page.children[-2:] %}
                          <h5 class="talk-header"><a href="{{ SITEURL }}/{{ children_page.url }}">{{ children_page.title }}</a></h5>
                          <p><b>{{children_page.conference}}</b>, {{children_page.speaker}}</p>
                      {% endfor %}
                  {% endif %}
              {% endfor %}
            </div>
            <div class="row">
                <a class="button button-primary button-more" href="{{ SITEURL }}/pages/talks">More...</a>
            </div>
    </section>

</div>

{% endblock content %}