{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="site-header">
      <div><img class="header-logo" src="{{ SITEURL }}/images/blaze_med.png"><h2 class="title">{{ TITLE }}</h2></div>
    </section>


    <section class="home-section">
        <div class="row">
            <p>The Blaze ecosystem is a set of libraries that help users store, describe,
            query and process data. It is composed of the following core projects:</p>
        </div>

        <div class="row">
          <ul>
          {% for page in pages %}
              {% if page.title == 'Projects' %}
                  {% for children_page in page.children %}
                        {% if children_page.project == 'core' %}
                        <li class="talk-header"><a href="{{ children_page.docs }}">{{ children_page.title }}</a>: {{children_page.subtitle}}</li>
                        {% endif %}
                {% endfor %}
              {% endif %}
          {% endfor %}
          </ul>
        </div>
    </section>

    <section class="home-section">
      <h3 class="home-header">Recent blog posts</h3>
      {% for article in articles_page.object_list %}
      <article class="home-post">
        <header>
          <time datetime="" title="{{ article.date.isoformat() }}" pubdate style="float:right" class="blogpost-date">{{ article.locale_date }}</time>
          <br>
          <h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
          <h6>by {{ article.author }}</h6>
        </header>

        <div class="article_content">

          {% if article.image %}
            <img class="blog-image" src="{{ SITEURL }}/images/{{article.image}}">
          {% endif %}
          {{ article.summary }}
        </div>

        <div class="meta">
          <div>
            <a class="button button-primary button-read" href="{{ SITEURL }}/{{ article.url }}">Read</a>
          </div>

          <div>
              {% for tag in article.tags %}
                <a class="label-default" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
          </div>

        </div>

      </article>
      <div class="separator"></div>
      {% endfor %}


  <br>

     <section class="home-section">
        <h3 class="home-header">Talks and Tutorials</h3>
            <div class="row">
                <ul>
              {% for page in pages %}
                  {% if page.title == 'Talks' %}
                      {% for children_page in page.children[-3:] %}
                          <li><p class="talk-header"><a href="{{ SITEURL }}/{{ children_page.url }}">{{ children_page.title }}</a>
                          <br><b>{{children_page.conference}}</b>, {{children_page.speaker}}</p>    </li>
                      {% endfor %}
                  {% endif %}
              {% endfor %}
                </ul>
            </div>
            <div class="row">
                <a class="button button-primary button-more" href="{{ SITEURL }}/pages/talks">More</a>
            </div>
    </section>

</div>

{% endblock content %}