{% extends "base.html" %}
{% block title %}Archives{% endblock %}

{% block content %}

<div class="container">
    <section id="content">
        <header  class="header">
            <h2 style="margin-bottom: 30px;">Tag: {{ tag }}</h2>
        </header>

        <ul class="double-list">
        {% for article in articles %}
            <li>
                <a href='/{{ article.url }}'>
                    <h4>{{ article.title }}</a> <small>by {{ article.author }}</small></h4>

            </li>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}