
<hr />
<div class="article-info">


{% if PDF_PROCESSOR %}
    <span class="label label-default">
        <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
    </span>
{% endif %}

{% if article.date %}
<span><b>Publication date:</b> {{article.locale_date}}</span>
<br>
{% endif %}
{% if article.modified %}
<span><b>Latest modification:</b> {{article.locale_modified}}</span>
<br>
{% endif %}
{% include 'includes/taglist.html' %}
{% include 'includes/translations.html' %}
{% include 'includes/twitter.html' %}
<br>
</div>